
body{
    font-family: helvetica, arial, freesans, clean, sans-serif;
    color: #333;
    background-color: lightgrey;
    border-color: #999999;
    border-width: 2px;
    line-height: 1.5;
    text-align:center;
}

.title {
  color: midnightblue;
  font-size: xx-large;
  font-family: copperplate, fantasy;
  text-align: center;
}

div.container-fluid.main-container {
  width: 1000px;
}

pre.r.bg-info {
  text-align: left
}

