```{css my-header-colors, echo = FALSE}
.page-header {
    background-image: linear-gradient(120deg, red, orange);
}
```

#sidebar {
  background: #0F4880;
}
#postamble {
  background:#003366;
  border-top:solid 10px #5A7B9C;
}
.title {
  text-align: center;
  color: #003366;
}
.subtitle {
  color: #0D3A66;
}
h1, h2, h3, h4, h5, h6, legend {
  color: #003366;
}
#content h2 {
    background-color: #AEBFD1